* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: 0.3s linear;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: transform 0.3s linear;
	width: 100vw;
	height: 100vh;
	/* background: radial-gradient(344.99% 237.09% at -77.44% -89.08%, #b9d8d3 0%, #081614 100%); */
}
#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	padding-top: 20px;
}
